.GridText {
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.PaperText{
    background-color: #fcf9f9 !important;
    border-radius: 10px !important;
    padding-left: 15px !important;
}
.TextMessage-small{
    width: 56vw;
}
.TextMessage-large{
    width: 61vw;
}
.GridListMessage{
    max-height: 84vh;
}
.ListTab{
    overflow: 'auto';
    max-height: 100vh;
}
.PaperTab{
    overflow: 'auto';
    max-height: 100vh;
}
.GridTabs{
    min-height: 93vh;
} 
.PaperTabs{
    width: 32vw;
}
.ListItemAvatar{
    background-color: #303f9f  !important;
}
.ListItemMe{
    width: 29vw !important;
    margin-left: 35vw; 
    background-color: rgba(63, 81, 181, 0.058823529411764705);
    border-radius: 25px;  
    margin-top: 10px;
}
.ListItemOther{
    width: 29vw !important; 
    background-color: #fcf9f9;
    border-radius: 25px;
    margin-top: 10px; 
    margin-left: 10px;
}
.ListMessage{
    overflow: auto;
    max-height: 77vh;
    min-height: 77vh;
}
.scrollableContianer{
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 84vh;
    width: 70vw;
}
.RegisterTextField{
    width: 500px !important;
}